<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
	        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
    	<nav class="navbar navbar-dark bg-primary">
            {# START LANGUAGE SWITCH ##################################################################################################################}    	
            {# For language change button, I want to stay on the same page, so I request the route name, current language and id parameter if exists #}
            {% set currentRoute, params = app.request.attributes.all._route, {} %}
            {% if app.request.locale == 'en' %}
                {% set params = params|merge({'_locale': 'fr'}) %}
            {% else %}
                {% set params = params|merge({'_locale': 'en'}) %}
            {% endif %}
            {% if app.request.attributes.all.id is defined%}
                {% set params = params|merge({'id': app.request.attributes.all.id}) %}
            {% endif %}
            <a class="nav-link btn btn-sm btn-danger" href="{{ path(currentRoute, params) }}">{{ params._locale|upper }}</a>
            {# END LANGUAGE SWITCH ##################################################################################################################}
            {% block nav %}{% endblock %}
            {# START USER DROP MENU ##################################################################################################################}
			{% if is_granted('ROLE_USER') %}
                <div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Actions{% endtrans %}</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    	<a class="dropdown-item" href="{{ path('app_account') }}">{% trans %}Account{% endtrans %}</a>
                    	{% if is_granted("ROLE_ADMIN") %}
                    		<a class="dropdown-item" href="{{ path('app_admin') }}">{% trans %}Admin{% endtrans %}</a>
                    	{% endif %}
                    	<a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                  	</div>
                </div>
            {% endif %}
            {# END USER DROP MENU ##################################################################################################################}
    	</nav>
		<section class="">
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
