{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>{% trans %}User index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Roles{% endtrans %}</th>
                <th>{% trans %}Password{% endtrans %}</th>
                <th>{% trans %}First name{% endtrans %}</th>
                <th>{% trans %}Last name{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('user_show', {'id': user.id}) }}">{% trans %}Show{% endtrans %}</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}Edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}No records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-lg btn-primary" href="{{ path('user_new') }}">{% trans %}Create{% endtrans %}</a>
{% endblock %}
